body{
    margin: 0;
}

.navbar{
    display: flex;
    background-image: url('/images/background-travel.jpg');
    background-size: cover;
    background-position: center;    
    height: 130px;
    border-bottom: 2px solid #2E2B80;
}

.navbar_left{
    flex: 1;
}

.navbar_right{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar_right_bis{
    display: flex;
    flex-direction: column;
    text-align: end;
}

.navbar_menu{
    margin: 30px 0;
}

.navbar_logo{
    width: 130px;
}

.navbar_menu_link{
    margin: 0 10px;
    color: white;
    background-color: #2E2B80;
    padding: 8px;
    font-size: 20px;
    text-decoration: none;
}

.navbar_menu_link:hover{
    margin: 0 10px;
    color: #2E2B80;
    background-color: white;
    padding: 8px;
    font-size: 20px;
    text-decoration: none;
}

.navbar_right_bis_admin{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 35px 0;
}

.navbar_right_bis_admin_button{
    margin: 5px 10px;
    color: white;
    background-color: #2E2B80;
    padding: 3px;
    font-size: 15px;
    text-decoration: none;
}

.navbar_right_bis_admin_button:hover{
    margin: 5px 10px;
    color: #2E2B80;
    background-color: white;
    padding: 3px;
    font-size: 15px;
    text-decoration: none;
}

.navbar_right_bis_logout{
    margin: 10px 0;
}

.navbar_right_bis_logout_button{
    text-align: center;
    position: absolute;
    right: 20px;
}

hr{
    width: 370px;
}