body{
    background-image: url('/images/background-index.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

.navbar{
    display: flex;
    background-color: rgba(0, 0, 0, 0.233);
    height: 130px;
    border-bottom: 2px solid #2E2B80;
}

.navbar_left{
    flex: 1;
}

.navbar_right{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar_right_bis{
    display: flex;
    flex-direction: column;
    text-align: end;
}

.navbar_menu{
    margin: 30px 0;
}

.navbar_logo{
    width: 130px;
}

.navbar_menu_link{
    margin: 0 10px;
    color: white;
    background-color: #2E2B80;
    padding: 8px;
    font-size: 20px;
    text-decoration: none;
}

.navbar_menu_link:hover{
    margin: 0 10px;
    color: #2E2B80;
    background-color: white;
    padding: 8px;
    font-size: 20px;
    text-decoration: none;
}

.navbar_right_bis_admin{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 35px 0;
}

.navbar_right_bis_admin_button{
    margin: 5px 10px;
    color: white;
    background-color: #2E2B80;
    padding: 3px;
    font-size: 15px;
    text-decoration: none;
}

.navbar_right_bis_admin_button:hover{
    margin: 5px 10px;
    color: #2E2B80;
    background-color: white;
    padding: 3px;
    font-size: 15px;
    text-decoration: none;
}

.navbar_right_bis_logout{
    margin: 10px 0;
}

.navbar_right_bis_logout_button{
    text-align: center;
    position: absolute;
    right: 20px;
}

.index_title{
    margin-top: 450px;   
    background-color: rgba(0, 0, 0, 0.205); 
    width: 980px;
    padding: 20px 0;
}

.index_title_line{
    font-size: 60px;
    color: white;
    margin: 0px 20px;
}

.travels_title{
    color:white;
}