body{
    background-image: url('/images/background-reg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

hr {
    color:white;
    size: 2px;
    width: 200px;
}

.register_box{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 250px auto;
    color:white;
    background-color: rgba(0, 0, 0, 0.356);
    width: 300px;
    text-align: center;
}

.register_box_title{
    font-size: 40px;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 0;
}

.register_box_button{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.register_box_login{
    color: white;
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding-bottom: 10px;
    font-weight: bold;
}

.register_box_error {
    color: red;
}