<!DOCTYPE html>
<head>
    <title>Create Hotels</title>
</head>
<body>
    <h1>Crear Hoteles</h1>
    <form method="POST" action="/create/hotels" enctype="multipart/form-data">
        <div>        
            <label>Nombre:
            <input type="text" name="name">
            </label>
        </div>

        <div>
            <label>Imagen:
                <input type="file" name="image" accept="image/png, image/jpg, image/jpeg">
            </label>  
        </div>

        <div>
            <label>Ubicación:
                <input type="text" name="location">
            </label>
        </div>

        <div>
            <label>Estrellas:
                <input type="number" name="stars">
            </label>
        </div>

        <div>
            <label>Precio:
                <input type="number" name="price">
            </label>
        </div>

        <button type="submit">
            Añadir Hotel
        </button>

    </form>
</body>
</html>