<!DOCTYPE html>
<head>
    <title>Create Travels</title>
</head>
<body>
    <h1>Crear Viajes</h1>
    <form method="POST" action="/create/travels" enctype="multipart/form-data">
        <div>        
            <label>Nombre:
            <input type="text" name="name">
            </label>
        </div>

        <div>
            <label>Imagen:
                <input type="file" name="image" accept="image/png, image/jpg, image/jpeg">
            </label>  
        </div>

        <div>
            <label>Compañía:
                <input type="text" name="company">
            </label>
        </div>

        <div>
            <label>Duración:
                <input type="text" name="time">
            </label>
        </div>

        <div>
            <label>Escalas:
                <input type="number" name="stopover">
            </label>
        </div>

        <div>
            <label>Precio:
                <input type="number" name="price">
            </label>
        </div>

        <button type="submit">
            Añadir viaje
        </button>

    </form>
</body>
</html>