<!DOCTYPE html>
<head>
    <title>Favoritos</title>
        <link rel="stylesheet" href="../stylesheet/favs.css">
</head>
<header>
    <nav class="navbar">
        <div class="navbar_left">
            <img class="navbar_logo" src="/images/logoviajes.png" alt="logo">
        </div>

        <div class="navbar_right">
            <span class="navbar_menu">
                <a class="navbar_menu_link" href="/">Home</a>
                <a class="navbar_menu_link" href="/travels">Viajes</a>
                <a class="navbar_menu_link" href="/hotels">Hoteles</a>
                <a class="navbar_menu_link" href="/favs">Lista Favoritos</a>
            </span>
        </div>
        <form class="navbar_right_bis_logout_button" action="/users/logout" method="POST">
            <input type="submit" value="Logout">
        </form>
        {{#if isAdmin}}

        <div class="navbar_right_bis_logout">
            <form class="navbar_right_bis_logout_button" action="/users/logout" method="POST">
                <input type="submit" value="Logout">
            </form>
            <div class="navbar_right_bis_admin">
                <a class="navbar_right_bis_admin_button" href="/create/travels">Añadir viajes</a>
                <a class="navbar_right_bis_admin_button" href="/create/hotels">Añadir hoteles</a>
            </div>
            {{/if}}
        </div>
    </nav>
</header>
<body>
    <div class="favs">
        <h1 class="favs_title"> Mis favoritos</h1>
        <hr>    
        <div class="favs_list">
        {{#each travels}}
            <div class="favs_list_item">
                <img class="favs_list_item_image" src="{{this.image}}">
                <p class="favs_list_item_title">{{this.name}}</p>
                <p>Compañía: {{this.company}}</p>
                <p>Precio: {{this.price}}€</p>
            </div>
        {{/each}}
        </div>
    </div>
</body>
</html>