<!DOCTYPE html>
<head>
    <title> {{ title }} </title>
        <link rel="stylesheet" href="../stylesheet/hotel.css">
</head>
<header>
    <nav class="navbar">
        <div class="navbar_left">
            <img class="navbar_logo" src="/images/logoviajes.png" alt="logo">
        </div>

        <div class="navbar_right">
            <span class="navbar_menu">
                <a class="navbar_menu_link" href="/">Home</a>
                <a class="navbar_menu_link" href="/travels">Viajes</a>
                <a class="navbar_menu_link" href="/hotels">Hoteles</a>
                <a class="navbar_menu_link" href="/favs">Lista Favoritos</a>
            </span>
        </div>
        <form class="navbar_right_bis_logout_button" action="/users/logout" method="POST">
            <input type="submit" value="Logout">
        </form>
        
        {{#if isAdmin}}
            <div class="navbar_right_bis_admin">
                <a class="navbar_right_bis_admin_button" href="/create/travels">Añadir viajes</a>
                <a class="navbar_right_bis_admin_button" href="/create/hotels">Añadir hoteles</a>
            </div>
        {{/if}}
        
    </nav>
</header>
<body>

    {{#if this.hotels}}
    <div>
        <img src={{this.hotels.image}} alt="hotel">
        <h1>{{this.hotels.name}}</h1>
        <h4>Ubicación: {{this.hotels.location}}</h4>
        <p>Estrellas: {{this.hotels.stars}}</p>
        <h3>Precio: {{this.hotels.price}}€</h3>

        <button>Reservar!</button>
    </div>
       
        <form action="/reviews" method="POST">
            <div>        
                <label for="name">Nombre:
                    <input type="text" name="name">
                </label>
            </div>

            <div>
                <label for="title">Asunto:
                    <input type="text" name="title">
                </label>  
            </div>

            <div>
                <label for="description">Descripción:
                    <input type="text" name="description">
                </label>
            </div>

            <button type="submit">
                Añadir Reseña
            </button>
        </form>

        {{#if isAdmin}}
            <div>
                <a href="/hotels/delete/{{this.hotels._id}}" onclick='deleteHotel("{{{_id}}}")'>Eliminar</a>
                <a href="/hotels/edit/{{this.hotels._id}}">Editar</a>
            </div>
        {{/if}}

    {{else}}
        <h2>No hemos encontrado el hotel que buscas</h2>
    {{/if}}

    <div>
        <a href="/hotels">Volver al listado de hoteles</a>
    </div>

</body>
</html>