<!DOCTYPE html>
<head>
    <script src="../public/js/index.js"></script>
        <link rel="stylesheet" href="../stylesheet/hotels.css">
    <title>Hotels</title>
</head>
<header>
    <nav class="navbar">
        <div class="navbar_left">
            <img class="navbar_logo" src="/images/logoviajes.png" alt="logo">
        </div>

        <div class="navbar_right">
            <span class="navbar_menu">
                <a class="navbar_menu_link" href="/">Home</a>
                <a class="navbar_menu_link" href="/travels">Viajes</a>
                <a class="navbar_menu_link" href="/hotels">Hoteles</a>
                <a class="navbar_menu_link" href="/favs">Lista Favoritos</a>
            </span>
        </div>
        <form class="navbar_right_bis_logout_button" action="/users/logout" method="POST">
            <input type="submit" value="Logout">
        </form>
        
        {{#if isAdmin}}

            <div class="navbar_right_bis_admin">
                <a class="navbar_right_bis_admin_button" href="/create/travels">Añadir viajes</a>
                <a class="navbar_right_bis_admin_button" href="/create/hotels">Añadir hoteles</a>
            </div>
        {{/if}}
        
    </nav>
</header>
<body>
    <div class="hotels">
        <h1 class="hotels_title">Elige tú hotel</h1>
        <hr>
        <div class="hotels_list">
            {{#each hotels}}
            <div class="hotels_list_item">
                <img class="hotels_list_item_image" src={{this.image}}>
                <p class="hotels_list_item_title">{{this.name}}</p>
                <h3>{{this.price}}€</h3>
                <a class="hotels_list_item_link" href="/hotels/{{this._id}}">Ver más...</a>
            </div>
            {{/each}}
        </div>
    </div>
</body>
</html>