<!DOCTYPE html>
<head>
    <title> {{ title }} </title>
</head>
<body>
    <h1>Editar Hotel</h1>
    {{#if this.hotels}}
    <h2>{{this.hotels.name}}</h2>
        <form action="/hotels/edit/{{this.hotels._id}}" method="POST">
            <div>
                <label>Nombre: 
                    <input value="{{this.hotels.name}}"></input>
                </label>
            </div>
            <div>
                <label>Imagen:
                    <input type="file" name="image" value="{{this.hotels.image}}" accept="image/png, image/jpg, image/jpeg">
                </label>
            </div>
            <div>
            <label>Ubicación:
                <input type="text" name="location" value="{{this.hotels.location}}">
            </label>
            </div>
            <div>
                <label>Estrellas:
                    <input type="number" name="stars" value="{{this.hotels.stars}}">
                </label>
            </div>
            <div>
                <label>Precio:
                    <input type="number" name="price" value="{{this.travels.price}}">
                </label>
            </div>
            <button type="submit">
                Guardar hotel
            </button>
        
        </form>

    {{else}}
        <h2>No hemos encontrado el hotel que buscas</h2>
    {{/if}}
    <div>
        <a href="/hotels">Volver al listado de hoteles</a>
    </div>

</body>
</html>