<!DOCTYPE html>
<head>
    <title>Index</title>
    <link rel="stylesheet" href="../stylesheet/index.css">
</head>
<header>
    <nav class="navbar">
        <div class="navbar_left">
            <img class="navbar_logo" src="/images/logoviajes.png" alt="logo">
        </div>

        <div class="navbar_right">
            <span class="navbar_menu">
                <a class="navbar_menu_link" href="/">Home</a>
                <a class="navbar_menu_link" href="/travels">Viajes</a>
                <a class="navbar_menu_link" href="/hotels">Hoteles</a>
                <a class="navbar_menu_link" href="/favs">Lista Favoritos</a>
            </span>
        </div>
        <form class="navbar_right_bis_logout_button" action="/users/logout" method="POST">
            <input type="submit" value="Logout">
        </form>
        
        {{#if isAdmin}}

            <div class="navbar_right_bis_admin">
                <a class="navbar_right_bis_admin_button" href="/create/travels">Añadir viajes</a>
                <a class="navbar_right_bis_admin_button" href="/create/hotels">Añadir hoteles</a>
            </div>
        {{/if}}
        
    </nav>
</header>
<body>
    
    <div class="index_title">
        <h1 class="index_title_line">Los mejores viajes y hoteles</h1> 
        <h1 class="index_title_line">que puedas encontrar...</h1>
    </div>
    

</body>
</html>