<!DOCTYPE html>
<head>
    <title>Login</title>
        <link rel="stylesheet" href="../stylesheet/login.css">
</head>
<body>

    <div class="login_box">

        <p class="login_box_title"> Inicia Sesión</p>
        <hr>
        <form class="login_box_form" action="/users/login" method='POST'>

            <label>
                <p>Email</p>
                <input type="text" name="email">
            </label>
            <label>
                <p>Password</p>
                <input type="password" name="password">
            </label>
            <div class="login_box_button">
                <input type="submit" value="Entrar">
            </div>

            {{#if error}}
                <p class="login_box_error">{{error}}</p>
            {{/if}}

            <div>
                <a class="login_box_register" href="/register">¿Aún no te has registrado? Regístrate</a>
            </div>

        </form>


    </div>
    
</body>
</html>