<!DOCTYPE html>
<head>
    <title>Register</title>
    <link rel="stylesheet" href="../stylesheet/register.css">
</head>

<body>

    <div class="register_box">
        <p class="register_box_title">Registro</p>
        <hr>
        <form class="register_box_form" action="/users/register" method='POST'>
            <label>
                <p>Email</p>
                <input type="text" name="email">
            </label>

            <label>
                <p>Password</p>
                <input type="password" name="password">
            </label>

            <div class="register_box_button" >
                <input type="submit" value="¡Regístrate ahora!">
            </div>

            <div>
                <a class="register_box_login" href="/login">Inicia Sesión</a>
            </div>
            
            {{#if error}}
                <p class="register_box_error">{{error}}</p>
            {{/if}}
        </form>
    </div>



</body>
</html>