<!DOCTYPE html>
<html lang="en">
<head>
    <title>Reviews</title>
</head>
<body>
    <a href="/">Home</a>
    <h1>Reseñas</h1>

    {{#each reviews}}
    <div>
        <p>Nombre: {{this.name}}</p>
        <p>Asunto: {{this.title}}</p>
        <p>Descripción: {{this.description}}</p>
    </div>
    {{/each}}

</body>
</html>