<!DOCTYPE html>
<head>
    <title> {{ title }} </title>
</head>
<body>
    <h1>Editar Viaje</h1>
    {{#if this.travels}}
    <h2>{{this.travels.name}}</h2>
        <form action="/travels/edit/{{this.travels._id}}" method="POST">
            <div>
                <label>Nombre: 
                    <input value="{{this.travels.name}}" name="name"></input>
                </label>
            </div>
{{!--             <div>
                <label>Imagen:
                    <input type="file" name="image" value="{{this.travels.image}}" accept="image/png, image/jpg, image/jpeg">
                </label>
            </div> --}}
            <div>
            <label>Compañía:
                <input type="text" name="company" value="{{this.travels.company}}">
            </label>
            </div>
            <div>
                <label>Duración:
                    <input type="text" name="time" value="{{this.travels.time}}">
                </label>
            </div>
            <div>
                <label>Escalas:
                    <input type="number" name="stopover" value="{{this.travels.stopover}}">
                </label>
            </div>
            <div>
                <label>Precio:
                    <input type="number" name="price" value="{{this.travels.price}}">
                </label>
            </div>
            <button type="submit">
                Guardar viaje
            </button>
        
        </form>

    {{else}}
        <h2>No hemos encontrado el vuelo que buscas</h2>
    {{/if}}
    <div>
        <a href="/travels">Volver al listado de viajes</a>
    </div>

</body>
</html>