<!DOCTYPE html>
<head>
    <title> {{ title }} </title>
        <link rel="stylesheet" href="../stylesheet/travel.css">
</head>
<header>
    <nav class="navbar">
        <div class="navbar_left">
            <img class="navbar_logo" src="/images/logoviajes.png" alt="logo">
        </div>

        <div class="navbar_right">
            <span class="navbar_menu">
                <a class="navbar_menu_link" href="/">Home</a>
                <a class="navbar_menu_link" href="/travels">Viajes</a>
                <a class="navbar_menu_link" href="/hotels">Hoteles</a>
                <a class="navbar_menu_link" href="/favs">Lista Favoritos</a>
            </span>
        </div>
        <form class="navbar_right_bis_logout_button" action="/users/logout" method="POST">
            <input type="submit" value="Logout">
        </form>
        
        {{#if isAdmin}}
            <div class="navbar_right_bis_admin">
                <a class="navbar_right_bis_admin_button" href="/create/travels">Añadir viajes</a>
                <a class="navbar_right_bis_admin_button" href="/create/hotels">Añadir hoteles</a>
            </div>
        {{/if}}
        
    </nav>
</header>
<body>

    <div class="travel">
        {{#if this.travels}}

            <div class="travel_detail">
                <div class="travel_detail_box_img">   
                    <img class="travel_detail_img" src={{this.travels.image}}>
                </div>

                    <div class="travel_detail_box_text">
                        <h1 class="travel_detail_title">{{this.travels.name}}</h1>
                    <div class="travel_detail_title__text">
                        <hr>
                        <p>Compañía: {{this.travels.company}}</p>
                        <p>Duración: {{this.travels.time}}</p> 
                        <p>Escalas: {{this.travels.stopover}}</p>
                        <h1>{{this.travels.price}}€</h1>
                    </div>
                    <div class="travel_detail__buttons">
                        <form action="/favs" method="POST">
                            <input name="travelId" type="hidden" value="{{this.travels._id}}">    
                           <button class="travel_detail_button" type="submit">Añadir a Favoritos</button>
                        </form> 
                        {{#if isAdmin}}
                        <div class="travel_detail__buttons__admin">
                            <a class="travel_detail_button_admin" href="/travels/delete/{{this.travels._id}}"       onclick='deleteTravel("{{{_id}}}")'>Eliminar</a>
                            <a class="travel_detail_button_admin" href="/travels/edit/{{this.travels._id}}">Editar</a>
                        </div>
                        {{/if}} 
                    {{else}}
                        <h2>No hemos encontrado el vuelo que buscas</h2>
                    </div> 
                </div>
                
            </div>
        {{/if}}
    </div>
</body>
</html>